body {
  margin: 50px;
}

.list-item {
  display: inline-block;
  padding: 20px;
  list-style: none;
}
.list-item:hover {
  background-color: wheat;
  color: black;
  cursor: pointer;
}

#login-section {
  text-align: center;
}
.login-form {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}
.form-field {
  padding: 2px;
}

footer {
  position: relative;
  bottom: 5px;
  border-top: 2px dashed grey;
  padding: 10px;
}

#users-table {
  border: 2px solid black;
  padding: 1px;
  text-align: center;
}
.table-content {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
td {
  border: 2px solid black;
}
#users-table tr:nth-child(2n) {
  background-color: grey;
  color: white;
}
#add-users {
  padding-bottom: 20px;
  position: relative;
}
#username {
  position: static;
  left: 10px;
}
#user-surname {
  position: static;
  left: 10px;
}
